body {
  font-family: 'Raleway', sans-serif;
  color: rgb(60, 60, 60);
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited, a:active {
  color: #1172b0;
  transition: 0.3s;
}

a:hover {
  color: #0e5582;
}

ul {
  list-style-type: none;
}

::selection {
  background: rgba(14, 85, 130, 0.6); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: rgba(14, 85, 130, 0.6); /* Gecko Browsers */
  color: white;
}